<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b4ac8f7a718a0ea26de3fe4abe9f4678 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/marslan390/BeautifyMarker/leaflet-beautify-marker-icon.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/marslan390/BeautifyMarker/leaflet-beautify-marker-icon.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
    
            <style>
                #export {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    z-index: 999;
                    background: white;
                    color: black;
                    padding: 6px;
                    border-radius: 4px;
                    font-family: 'Helvetica Neue';
                    cursor: pointer;
                    font-size: 12px;
                    text-decoration: none;
                    top: 90px;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_b4ac8f7a718a0ea26de3fe4abe9f4678" ></div>
        
    <a href='POST' id='export'>Export</a>
</body>
<script>
    
    
            var map_b4ac8f7a718a0ea26de3fe4abe9f4678 = L.map(
                "map_b4ac8f7a718a0ea26de3fe4abe9f4678",
                {
                    center: [-5.176168, -40.680138],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c95aca2c65a5c588e1d256d4251a0a57 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=s\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            ).addTo(map_b4ac8f7a718a0ea26de3fe4abe9f4678);
        
    
            var tile_layer_68fdffbbccd75481cbd71cb1e9c558c2 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            ).addTo(map_b4ac8f7a718a0ea26de3fe4abe9f4678);
        
    
            var feature_group_68a0f0f946702811865e87835db745d6 = L.featureGroup(
                {}
            ).addTo(map_b4ac8f7a718a0ea26de3fe4abe9f4678);
        
    
            var marker_522287560ef93f3e91e73434980babf3 = L.marker(
                [-5.178319, -40.680533],
                {}
            ).addTo(feature_group_68a0f0f946702811865e87835db745d6);
        
    
            var icon_b0f8340dcace9bb6fd1bf2cc57c433a0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_522287560ef93f3e91e73434980babf3.setIcon(icon_b0f8340dcace9bb6fd1bf2cc57c433a0);
        
    
        var popup_d048e1a6a93c8859f50951f4c010aab0 = L.popup({"maxWidth": "100%"});

        
            
                var html_816869971b6dd3d72dd65b4705b7ddc1 = $(`<div id="html_816869971b6dd3d72dd65b4705b7ddc1" style="width: 100.0%; height: 100.0%;">zxvbadfg</div>`)[0];
                popup_d048e1a6a93c8859f50951f4c010aab0.setContent(html_816869971b6dd3d72dd65b4705b7ddc1);
            
        

        marker_522287560ef93f3e91e73434980babf3.bindPopup(popup_d048e1a6a93c8859f50951f4c010aab0)
        ;

        
    
    
            marker_522287560ef93f3e91e73434980babf3.bindTooltip(
                `<div>
                     PoP CTS.CE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_651e3842171028b7773318de0abd94af = L.marker(
                [-5.178243, -40.68039],
                {}
            ).addTo(feature_group_68a0f0f946702811865e87835db745d6);
        
    
            var beautify_icon_ca2de027f74cdf60fe6606ee6705749d = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_651e3842171028b7773318de0abd94af.setIcon(beautify_icon_ca2de027f74cdf60fe6606ee6705749d);
        
    
        var popup_73a08120f8d12edf36c09e502aae2816 = L.popup({"maxWidth": "100%"});

        
            
                var html_ee23f38c470e981dbec8281b26d0f3a5 = $(`<div id="html_ee23f38c470e981dbec8281b26d0f3a5" style="width: 100.0%; height: 100.0%;">zxvbafrg</div>`)[0];
                popup_73a08120f8d12edf36c09e502aae2816.setContent(html_ee23f38c470e981dbec8281b26d0f3a5);
            
        

        marker_651e3842171028b7773318de0abd94af.bindPopup(popup_73a08120f8d12edf36c09e502aae2816)
        ;

        
    
    
            var marker_7a8fd74caa861b1f23beb7d0128aa78b = L.marker(
                [-5.177887, -40.680318],
                {}
            ).addTo(feature_group_68a0f0f946702811865e87835db745d6);
        
    
            var beautify_icon_09c66cdebbd4a3c5f8383fc23720382e = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_7a8fd74caa861b1f23beb7d0128aa78b.setIcon(beautify_icon_09c66cdebbd4a3c5f8383fc23720382e);
        
    
        var popup_741aac283bd75741d699deabf19f5f4b = L.popup({"maxWidth": "100%"});

        
            
                var html_e16e34f5dfa4bb099a68b2b1fb377d63 = $(`<div id="html_e16e34f5dfa4bb099a68b2b1fb377d63" style="width: 100.0%; height: 100.0%;">afgaefrg</div>`)[0];
                popup_741aac283bd75741d699deabf19f5f4b.setContent(html_e16e34f5dfa4bb099a68b2b1fb377d63);
            
        

        marker_7a8fd74caa861b1f23beb7d0128aa78b.bindPopup(popup_741aac283bd75741d699deabf19f5f4b)
        ;

        
    
    
            var marker_6f88f582d89332daba560a0eed606c1b = L.marker(
                [-5.177103, -40.680159],
                {}
            ).addTo(feature_group_68a0f0f946702811865e87835db745d6);
        
    
            var beautify_icon_7e3f1c00ed246864ee303a1c0deeda77 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_6f88f582d89332daba560a0eed606c1b.setIcon(beautify_icon_7e3f1c00ed246864ee303a1c0deeda77);
        
    
        var popup_2e78475b487a9e1964fcee5fcb11d620 = L.popup({"maxWidth": "100%"});

        
            
                var html_8381646e9b65e5f58c2cbb58e224cb6a = $(`<div id="html_8381646e9b65e5f58c2cbb58e224cb6a" style="width: 100.0%; height: 100.0%;">szbsfdgnhbsgfrh</div>`)[0];
                popup_2e78475b487a9e1964fcee5fcb11d620.setContent(html_8381646e9b65e5f58c2cbb58e224cb6a);
            
        

        marker_6f88f582d89332daba560a0eed606c1b.bindPopup(popup_2e78475b487a9e1964fcee5fcb11d620)
        ;

        
    
    
            var marker_b045945b12a839e434ec7fe0b87d5f6f = L.marker(
                [-5.176277, -40.679943],
                {}
            ).addTo(feature_group_68a0f0f946702811865e87835db745d6);
        
    
            var beautify_icon_4f3c79f2f234e5376354ba7f097284b6 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_b045945b12a839e434ec7fe0b87d5f6f.setIcon(beautify_icon_4f3c79f2f234e5376354ba7f097284b6);
        
    
        var popup_2dd0a4f21e32b978acaea77176021dcf = L.popup({"maxWidth": "100%"});

        
            
                var html_9e56c67954267ab6c54201342edfd9e4 = $(`<div id="html_9e56c67954267ab6c54201342edfd9e4" style="width: 100.0%; height: 100.0%;">zxcnbvcmdgjnhfgsdbvxc</div>`)[0];
                popup_2dd0a4f21e32b978acaea77176021dcf.setContent(html_9e56c67954267ab6c54201342edfd9e4);
            
        

        marker_b045945b12a839e434ec7fe0b87d5f6f.bindPopup(popup_2dd0a4f21e32b978acaea77176021dcf)
        ;

        
    
    
            marker_b045945b12a839e434ec7fe0b87d5f6f.bindTooltip(
                `<div>
                     4
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a584e26512a938ae0ee88bd68212c395 = L.marker(
                [-5.176163, -40.680134],
                {}
            ).addTo(feature_group_68a0f0f946702811865e87835db745d6);
        
    
            var beautify_icon_aec32e85d5c3b0235e5e698d376790b0 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_a584e26512a938ae0ee88bd68212c395.setIcon(beautify_icon_aec32e85d5c3b0235e5e698d376790b0);
        
    
        var popup_4919a93b8dea32aa33b11b4f20e6294e = L.popup({"maxWidth": "100%"});

        
            
                var html_32a351adb04c26dcce1b5211b77fa977 = $(`<div id="html_32a351adb04c26dcce1b5211b77fa977" style="width: 100.0%; height: 100.0%;">xvcbjmfyukjyftrukred</div>`)[0];
                popup_4919a93b8dea32aa33b11b4f20e6294e.setContent(html_32a351adb04c26dcce1b5211b77fa977);
            
        

        marker_a584e26512a938ae0ee88bd68212c395.bindPopup(popup_4919a93b8dea32aa33b11b4f20e6294e)
        ;

        
    
    
            marker_a584e26512a938ae0ee88bd68212c395.bindTooltip(
                `<div>
                     5
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b831b8e6928889fa5cfc8433106c2648 = L.marker(
                [135425.0, 132.0],
                {}
            ).addTo(feature_group_68a0f0f946702811865e87835db745d6);
        
    
            var beautify_icon_242533ab8eff506c3e99df9ff2c6dd97 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_b831b8e6928889fa5cfc8433106c2648.setIcon(beautify_icon_242533ab8eff506c3e99df9ff2c6dd97);
        
    
        var popup_5fef281f307767e6617eb1970466ef86 = L.popup({"maxWidth": "100%"});

        
            
                var html_a2598d7c1c0f9662f6b6a3187e47b2bc = $(`<div id="html_a2598d7c1c0f9662f6b6a3187e47b2bc" style="width: 100.0%; height: 100.0%;">szvcbwghwq</div>`)[0];
                popup_5fef281f307767e6617eb1970466ef86.setContent(html_a2598d7c1c0f9662f6b6a3187e47b2bc);
            
        

        marker_b831b8e6928889fa5cfc8433106c2648.bindPopup(popup_5fef281f307767e6617eb1970466ef86)
        ;

        
    
    
            var feature_group_abe4a4907fe631deaac13322ed296a7b = L.featureGroup(
                {}
            ).addTo(map_b4ac8f7a718a0ea26de3fe4abe9f4678);
        
    
            var poly_line_d41c89a5cb62bc59389eb46d1372bc2f = L.polyline(
                [[[-5.178319, -40.680533], [-5.178243, -40.68039]], [[-5.178243, -40.68039], [-5.177887, -40.680318]], [[-5.177887, -40.680318], [-5.177103, -40.680159]], [[-5.177103, -40.680159], [-5.176277, -40.679943]], [[-5.176277, -40.679943], [-5.176163, -40.680134]]],
                {"bubblingMouseEvents": true, "color": "cyan", "dashArray": "5,15", "dashOffset": null, "fill": false, "fillColor": "cyan", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 6}
            ).addTo(feature_group_abe4a4907fe631deaac13322ed296a7b);
        
    
        var popup_1b7705e28c6e1436b3a1a4bbb25c918f = L.popup({"maxWidth": "100%"});

        
            
                var html_e4ae1e512f879f8b7d77504957362094 = $(`<div id="html_e4ae1e512f879f8b7d77504957362094" style="width: 100.0%; height: 100.0%;"><branca.element.Html object at 0x00000162B926CEB0></div>`)[0];
                popup_1b7705e28c6e1436b3a1a4bbb25c918f.setContent(html_e4ae1e512f879f8b7d77504957362094);
            
        

        poly_line_d41c89a5cb62bc59389eb46d1372bc2f.bindPopup(popup_1b7705e28c6e1436b3a1a4bbb25c918f)
        ;

        
    
    
            poly_line_d41c89a5cb62bc59389eb46d1372bc2f.bindTooltip(
                `<div>
                     Acesso P2P Crateús
                 </div>`,
                {"sticky": true}
            );
        
    
            var options = {
              position: "topleft",
              draw: {},
              edit: {},
            }
            // FeatureGroup is to store editable layers.
            var drawnItems = new L.featureGroup().addTo(
                map_b4ac8f7a718a0ea26de3fe4abe9f4678
            );
            options.edit.featureGroup = drawnItems;
            var draw_control_7e00de8c96aee12d79d86038db06e993 = new L.Control.Draw(
                options
            ).addTo( map_b4ac8f7a718a0ea26de3fe4abe9f4678 );
            map_b4ac8f7a718a0ea26de3fe4abe9f4678.on(L.Draw.Event.CREATED, function(e) {
                var layer = e.layer,
                    type = e.layerType;
                var coords = JSON.stringify(layer.toGeoJSON());
                layer.on('click', function() {
                    alert(coords);
                    console.log(coords);
                });
                drawnItems.addLayer(layer);
             });
            map_b4ac8f7a718a0ea26de3fe4abe9f4678.on('draw:created', function(e) {
                drawnItems.addLayer(e.layer);
            });
            
            document.getElementById('export').onclick = function(e) {
                var data = drawnItems.toGeoJSON();
                var convertedData = 'text/json;charset=utf-8,'
                    + encodeURIComponent(JSON.stringify(data));
                document.getElementById('export').setAttribute(
                    'href', 'data:' + convertedData
                );
                document.getElementById('export').setAttribute(
                    'download', "data.geojson"
                );
            }
            
        
    
            var tile_layer_876f12f315d435e9a4d98a909f8a5628 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_fe9e69bff2ae734f6462f0e536428b82 = new L.Control.MiniMap(
                tile_layer_876f12f315d435e9a4d98a909f8a5628,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomleft", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_b4ac8f7a718a0ea26de3fe4abe9f4678.addControl(mini_map_fe9e69bff2ae734f6462f0e536428b82);
        
    
            var layer_control_95fdb0b39665f990b27abfa196a867df = {
                base_layers : {
                    "Google Sat\u00e9lite" : tile_layer_c95aca2c65a5c588e1d256d4251a0a57,
                    "Google Maps" : tile_layer_68fdffbbccd75481cbd71cb1e9c558c2,
                },
                overlays :  {
                    "Pontos" : feature_group_68a0f0f946702811865e87835db745d6,
                    "Linhas" : feature_group_abe4a4907fe631deaac13322ed296a7b,
                },
            };
            L.control.layers(
                layer_control_95fdb0b39665f990b27abfa196a867df.base_layers,
                layer_control_95fdb0b39665f990b27abfa196a867df.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_b4ac8f7a718a0ea26de3fe4abe9f4678);
            tile_layer_68fdffbbccd75481cbd71cb1e9c558c2.remove();
        
</script>
</html>