<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_013a6f707ab947a5af6ab41855bbb264 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/marslan390/BeautifyMarker/leaflet-beautify-marker-icon.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/marslan390/BeautifyMarker/leaflet-beautify-marker-icon.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_013a6f707ab947a5af6ab41855bbb264" ></div>
        
</body>
<script>
    
    
            var map_013a6f707ab947a5af6ab41855bbb264 = L.map(
                "map_013a6f707ab947a5af6ab41855bbb264",
                {
                    center: [-5.176168, -40.680138],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4ada7addacd17a68435f3bb08ce88d1e = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=s\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            ).addTo(map_013a6f707ab947a5af6ab41855bbb264);
        
    
            var tile_layer_b2f72e8eae867e859c59bbb3be2a8642 = L.tileLayer(
                "http://{s}.google.com/vt/lyrs=m\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "google", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": ["mt0", "mt1", "mt2", "mt3"], "tms": false}
            ).addTo(map_013a6f707ab947a5af6ab41855bbb264);
        
    
            var feature_group_bff807d0a350939fc4e136bace5b5dd1 = L.featureGroup(
                {}
            ).addTo(map_013a6f707ab947a5af6ab41855bbb264);
        
    
            var marker_bd0f93436bcad0bf57b3d2ed6bc1c9b2 = L.marker(
                [-5.178319, -40.680533],
                {}
            ).addTo(feature_group_bff807d0a350939fc4e136bace5b5dd1);
        
    
            var icon_5fdf7e73c12fe64325dedefcd110c303 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_bd0f93436bcad0bf57b3d2ed6bc1c9b2.setIcon(icon_5fdf7e73c12fe64325dedefcd110c303);
        
    
        var popup_b66f098cc637505f0f498eb06fa390cd = L.popup({"maxWidth": "100%"});

        
            
                var html_4d84d5910acce6d8381fa6c53ec40cf0 = $(`<div id="html_4d84d5910acce6d8381fa6c53ec40cf0" style="width: 100.0%; height: 100.0%;">zxvbadfg</div>`)[0];
                popup_b66f098cc637505f0f498eb06fa390cd.setContent(html_4d84d5910acce6d8381fa6c53ec40cf0);
            
        

        marker_bd0f93436bcad0bf57b3d2ed6bc1c9b2.bindPopup(popup_b66f098cc637505f0f498eb06fa390cd)
        ;

        
    
    
            marker_bd0f93436bcad0bf57b3d2ed6bc1c9b2.bindTooltip(
                `<div>
                     PoP CTS.CE
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_114cad78d9c1d65e58ff476618cbe5b9 = L.marker(
                [-5.178243, -40.68039],
                {}
            ).addTo(feature_group_bff807d0a350939fc4e136bace5b5dd1);
        
    
            var beautify_icon_a09cc4903e2cb1a198542ed9716b965c = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_114cad78d9c1d65e58ff476618cbe5b9.setIcon(beautify_icon_a09cc4903e2cb1a198542ed9716b965c);
        
    
        var popup_a96641074d253d9206a89b3899853cd0 = L.popup({"maxWidth": "100%"});

        
            
                var html_1dadb829e71feb43199403151f9a27f7 = $(`<div id="html_1dadb829e71feb43199403151f9a27f7" style="width: 100.0%; height: 100.0%;">zxvbafrg</div>`)[0];
                popup_a96641074d253d9206a89b3899853cd0.setContent(html_1dadb829e71feb43199403151f9a27f7);
            
        

        marker_114cad78d9c1d65e58ff476618cbe5b9.bindPopup(popup_a96641074d253d9206a89b3899853cd0)
        ;

        
    
    
            var marker_c4ed67f766f1c18f78b7c5464df61f8d = L.marker(
                [-5.177887, -40.680318],
                {}
            ).addTo(feature_group_bff807d0a350939fc4e136bace5b5dd1);
        
    
            var beautify_icon_d61a1537c75598c089a5847a9b10b830 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_c4ed67f766f1c18f78b7c5464df61f8d.setIcon(beautify_icon_d61a1537c75598c089a5847a9b10b830);
        
    
        var popup_3e68bf6472621f62ff36ceb11a7b74c2 = L.popup({"maxWidth": "100%"});

        
            
                var html_ddad3b6de146b45a8ce4e8622e3ebf50 = $(`<div id="html_ddad3b6de146b45a8ce4e8622e3ebf50" style="width: 100.0%; height: 100.0%;">afgaefrg</div>`)[0];
                popup_3e68bf6472621f62ff36ceb11a7b74c2.setContent(html_ddad3b6de146b45a8ce4e8622e3ebf50);
            
        

        marker_c4ed67f766f1c18f78b7c5464df61f8d.bindPopup(popup_3e68bf6472621f62ff36ceb11a7b74c2)
        ;

        
    
    
            var marker_987ccdf29bc36e07df2449f8797478fc = L.marker(
                [-5.177103, -40.680159],
                {}
            ).addTo(feature_group_bff807d0a350939fc4e136bace5b5dd1);
        
    
            var beautify_icon_b720be6a66081444f5bbf7ff0fde631f = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_987ccdf29bc36e07df2449f8797478fc.setIcon(beautify_icon_b720be6a66081444f5bbf7ff0fde631f);
        
    
        var popup_386016fc437573ba3abc677fd2d15210 = L.popup({"maxWidth": "100%"});

        
            
                var html_d1da87f36c9fdaf2e29f4baefaefba43 = $(`<div id="html_d1da87f36c9fdaf2e29f4baefaefba43" style="width: 100.0%; height: 100.0%;">szbsfdgnhbsgfrh</div>`)[0];
                popup_386016fc437573ba3abc677fd2d15210.setContent(html_d1da87f36c9fdaf2e29f4baefaefba43);
            
        

        marker_987ccdf29bc36e07df2449f8797478fc.bindPopup(popup_386016fc437573ba3abc677fd2d15210)
        ;

        
    
    
            var marker_c95a004e7685a73d8fcd3af34f5adc49 = L.marker(
                [-5.176277, -40.679943],
                {}
            ).addTo(feature_group_bff807d0a350939fc4e136bace5b5dd1);
        
    
            var beautify_icon_dbbe043c6bc912c0431610fc6d51ab96 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_c95a004e7685a73d8fcd3af34f5adc49.setIcon(beautify_icon_dbbe043c6bc912c0431610fc6d51ab96);
        
    
        var popup_3e9e57c314aab1fda643fb86bf87ab43 = L.popup({"maxWidth": "100%"});

        
            
                var html_aac340d1d4d80491d7cb03d364919d0e = $(`<div id="html_aac340d1d4d80491d7cb03d364919d0e" style="width: 100.0%; height: 100.0%;">zxcnbvcmdgjnhfgsdbvxc</div>`)[0];
                popup_3e9e57c314aab1fda643fb86bf87ab43.setContent(html_aac340d1d4d80491d7cb03d364919d0e);
            
        

        marker_c95a004e7685a73d8fcd3af34f5adc49.bindPopup(popup_3e9e57c314aab1fda643fb86bf87ab43)
        ;

        
    
    
            marker_c95a004e7685a73d8fcd3af34f5adc49.bindTooltip(
                `<div>
                     4
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b1eb5a2ff728ae8ff4187794f6b103b = L.marker(
                [-5.176163, -40.680134],
                {}
            ).addTo(feature_group_bff807d0a350939fc4e136bace5b5dd1);
        
    
            var beautify_icon_811745b8d2701556f0d02b1c94214a77 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_4b1eb5a2ff728ae8ff4187794f6b103b.setIcon(beautify_icon_811745b8d2701556f0d02b1c94214a77);
        
    
        var popup_4d6a2fd936111098dbcb3633e7d3f442 = L.popup({"maxWidth": "100%"});

        
            
                var html_96e654553d9f1572f4e24fc2f518bec8 = $(`<div id="html_96e654553d9f1572f4e24fc2f518bec8" style="width: 100.0%; height: 100.0%;">xvcbjmfyukjyftrukred</div>`)[0];
                popup_4d6a2fd936111098dbcb3633e7d3f442.setContent(html_96e654553d9f1572f4e24fc2f518bec8);
            
        

        marker_4b1eb5a2ff728ae8ff4187794f6b103b.bindPopup(popup_4d6a2fd936111098dbcb3633e7d3f442)
        ;

        
    
    
            marker_4b1eb5a2ff728ae8ff4187794f6b103b.bindTooltip(
                `<div>
                     5
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d859c44eac94a66b14929626cfd565e8 = L.marker(
                [135425.0, 132.0],
                {}
            ).addTo(feature_group_bff807d0a350939fc4e136bace5b5dd1);
        
    
            var beautify_icon_3c29b48f7253c55195e0fbd0f4db4b93 = new L.BeautifyIcon.icon(
                {"backgroundColor": "#FFF", "borderColor": "#000", "borderWidth": 5, "iconShape": "rectangle-dot", "innerIconStyle": "", "isAlphaNumericIcon": false, "spin": false, "textColor": "#000"}
            )
            marker_d859c44eac94a66b14929626cfd565e8.setIcon(beautify_icon_3c29b48f7253c55195e0fbd0f4db4b93);
        
    
        var popup_427b68631a8a65a9b4217bc82c7e7799 = L.popup({"maxWidth": "100%"});

        
            
                var html_9d17c9971b8df987a1f49524e5615696 = $(`<div id="html_9d17c9971b8df987a1f49524e5615696" style="width: 100.0%; height: 100.0%;">szvcbwghwq</div>`)[0];
                popup_427b68631a8a65a9b4217bc82c7e7799.setContent(html_9d17c9971b8df987a1f49524e5615696);
            
        

        marker_d859c44eac94a66b14929626cfd565e8.bindPopup(popup_427b68631a8a65a9b4217bc82c7e7799)
        ;

        
    
    
            var feature_group_fb8ba4409334ebacf22a825b25e85ecc = L.featureGroup(
                {}
            ).addTo(map_013a6f707ab947a5af6ab41855bbb264);
        
    
            var poly_line_0d1af8b9c56868cad9d358eee2e7d953 = L.polyline(
                [[[-5.178319, -40.680533], [-5.178243, -40.68039]], [[-5.178243, -40.68039], [-5.177887, -40.680318]], [[-5.177887, -40.680318], [-5.177103, -40.680159]], [[-5.177103, -40.680159], [-5.176277, -40.679943]], [[-5.176277, -40.679943], [-5.176163, -40.680134]]],
                {"bubblingMouseEvents": true, "color": "cyan", "dashArray": "5,15", "dashOffset": null, "fill": false, "fillColor": "cyan", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 6}
            ).addTo(feature_group_fb8ba4409334ebacf22a825b25e85ecc);
        
    
        var popup_2a88cecabb091e0a3134445552955501 = L.popup({"maxWidth": "100%"});

        
            
                var html_f71410cdd8abf1ea06df0413162efe8d = $(`<div id="html_f71410cdd8abf1ea06df0413162efe8d" style="width: 100.0%; height: 100.0%;"><branca.element.Html object at 0x000002017EBEE050></div>`)[0];
                popup_2a88cecabb091e0a3134445552955501.setContent(html_f71410cdd8abf1ea06df0413162efe8d);
            
        

        poly_line_0d1af8b9c56868cad9d358eee2e7d953.bindPopup(popup_2a88cecabb091e0a3134445552955501)
        ;

        
    
    
            poly_line_0d1af8b9c56868cad9d358eee2e7d953.bindTooltip(
                `<div>
                     Acesso P2P Crateús
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_9b1fadfee53abfc4bcbf0fab7ea45b01 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_181ed57e8cca85c19c552b91135af54e = new L.Control.MiniMap(
                tile_layer_9b1fadfee53abfc4bcbf0fab7ea45b01,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomleft", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_013a6f707ab947a5af6ab41855bbb264.addControl(mini_map_181ed57e8cca85c19c552b91135af54e);
        
    
            var layer_control_e453e3df8bb55b012fc12245f335a4a5 = {
                base_layers : {
                    "Google Sat\u00e9lite" : tile_layer_4ada7addacd17a68435f3bb08ce88d1e,
                    "Google Maps" : tile_layer_b2f72e8eae867e859c59bbb3be2a8642,
                },
                overlays :  {
                    "Pontos" : feature_group_bff807d0a350939fc4e136bace5b5dd1,
                    "Linhas" : feature_group_fb8ba4409334ebacf22a825b25e85ecc,
                },
            };
            L.control.layers(
                layer_control_e453e3df8bb55b012fc12245f335a4a5.base_layers,
                layer_control_e453e3df8bb55b012fc12245f335a4a5.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_013a6f707ab947a5af6ab41855bbb264);
            tile_layer_b2f72e8eae867e859c59bbb3be2a8642.remove();
        
</script>
</html>