{% extends 'global/base.html' %}
{% block content %}
<title>{% block title %}Compartilhamento | {% endblock title %}</title>
<div class="modal-dialog modal-xl" >
  <div class="modal-content">

    <div class="modal-header d-flex justify-content-center">
        <h2 class="modal-title text-center">Compartilhamento</h2>
    </div>

    <div class="container text-center">


        <div class="row">
          <div class="col">
            <a class="btn btn-primary btn-lg rounded-pill m-2" href="http://splink.cria.org.br/conversor?criaLANG=pt">
                <i class="fa-solid fa-magnifying-glass"></i> Conversor
            </a>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-lg rounded-pill m-2" href="http://geofence_enelce.geoposte.com.br:56">
                <i class="fa-solid fa-magnifying-glass"></i> Postes Enel
            </a>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <a class="btn btn-primary btn-lg rounded-pill m-2" href="{% url 'manutencao' %}">
                <i class="fa-solid fa-magnifying-glass"></i> Criar Mapa
            </a>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-lg rounded-pill m-2" href="{% url 'manutencao' %}">
                <i class="fa-solid fa-magnifying-glass"></i> Planilha Enel
            </a>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <a class="btn btn-primary btn-lg rounded-pill m-2" href="{% url 'manutencao' %}">
                <i class="fa-solid fa-magnifying-glass"></i> Descrição Poste
            </a>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-lg rounded-pill m-2" href="{% url 'manutencao' %}">
                <i class="fa-solid fa-magnifying-glass"></i> Bloco Poste
            </a>
          </div>
        </div>



        <div class="row">
          <div class="col">
            <a class="btn btn-primary btn-lg rounded-pill m-2" href="{% url 'manutencao' %}">
                <i class="fa-solid fa-magnifying-glass"></i> Cota Vão
            </a>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-lg rounded-pill m-2" href="{% url 'manutencao' %}">
                <i class="fa-solid fa-magnifying-glass"></i> Desenho da Fibra
            </a>
          </div>
        </div>


    </div>

  </div>

</div>
{% endblock content %}